h1{
  text-align: center;
}

.buttons{
    text-align: center;
}

.button{
  background-color: darkred;
  color: white;
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
  width: 100px;
}

.volume{
    text-align: center;
    font-size: 20px;
}

.bar{
  background-color: darkred;
  width: 50%;
  margin: auto;
}

.progress{
  background-color: black;
  color: white;
  width: 0%;
  height: 25px;
}

span{
/* margin-left: 5px; */
margin: 10px 10px 5px 5px;
}
